# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~


# npm
node_modules
*.log
*.gz

# Private Keys
# Any private keyfiles that may be sensetive

# Coveralls
coverage

# Benchmarking
benchmarks/graphs

config/keys.json


